<section class="relative isolate overflow-hidden bg-gray-900 px-6 py-24 sm:py-32 lg:px-8">
  <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-indigo-500),transparent)] opacity-10"></div>
  <!-- <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-gray-900 shadow-xl ring-1 shadow-indigo-500/5 ring-white/5 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div> -->
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <figure class="mt-10">
      <p class=" text-center mt-6 text-lg/8 text-gray-300">“I'm a softare developer commited to do code followed wirh the most recent standars of the community. I enjoy improve my knowledge in the code”</p>
      <figcaption class="mt-10">
        <img src="../../../assets/img/van-houten.png" alt="" class="mx-auto size-10 rounded-full" />
        <div class="mt-4 flex items-center justify-center space-x-3 text-base">
          <div class="font-semibold text-white">Hiram Hernandez</div>
          <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-white">
            <circle r="1" cx="1" cy="1" />
          </svg>
          <div class="text-gray-400">Software Developer</div>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
