<div class="pantalla-completa">
    <div class="contenedor-grid">
        <div class="columna-izquierda-layout">
            <div class="logo-placeholder">Logo</div>
            <div class="line-container">
                <div class="line"></div>
            </div>
        </div>

        <div class="columna-derecha">
            <div>
                <h1>Coppel</h1>
                <p class="date">April 2023 - Present</p>
            </div>
            <div>
                <p>
                    Ando chambeando en Coppel y soy una macana.
                </p>
            </div>
        </div>
    </div>



        <div class="contenedor-grid">
        <div class="columna-izquierda-layout">
            <div class="logo-placeholder">Logo</div>
            <div class="line-container">
                <div class="line"></div>
            </div>
        </div>

        <div class="columna-derecha">
            <div>
                <h1>Coppel</h1>
                <p class="date">April 2023 - Present</p>
            </div>
            <div>
                <p>
                    Ando chambeando en Coppel y soy una macana.
                </p>
            </div>
        </div>
    </div>
</div>